<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <title>CV generator</title>
  </head>
  <body>
    <div class="container mt-1 mb-1">
      <div class="row">
        <div class="col-md-7">
          <form method="POST">
            {% csrf_token %}
            <div class="form-group border p-2">
              <label for=""><strong>Name</strong></label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Enter Name"
              />
            </div>
            <div class="form-group border p-2">
              <label for=""><strong>Email</strong></label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter Email Address"
              />
            </div>
            <div class="form-group border p-2">
              <label for=""><strong>Phone</strong></label>
              <input
                type="text"
                class="form-control"
                id="phone"
                name="phone"
                placeholder="Enter Name"
              />
            </div>
            <div class="form-group border p-2">
              <label for=""><strong>About you</strong></label>
              <textarea
                name="summary"
                id="summary"
                class="form-control"
              ></textarea>
            </div>
            <div class="form-group border p-2">
              <label for=""><strong>degree</strong></label>
              <textarea
                name="degree"
                id="degree"
                class="form-control"
              ></textarea>
            </div>
            <div class="form-group border p-2">
              <label for=""><strong>School</strong></label>
              <!-- <textarea name="school" id="school" class="form-control"></textarea> -->
              <input
                type="text"
                class="form-control"
                id="school"
                name="school"
                placeholder=""
              />
            </div>
            <div class="form-group border p-2">
              <label for=""><strong>University</strong></label>

              <input
                type="text"
                class="form-control"
                id="university"
                name="university"
                placeholder=""
              />
            </div>
            <div class="form-group border p-2">
              <label for=""><strong>Previous work</strong></label>
              <textarea
                name="previous_work"
                id="previous_work"
                class="form-control"
              ></textarea>
            </div>
            <div class="form-group border p-2">
              <label for=""><strong>Skills</strong></label>
              <textarea
                name="skills"
                id="skills"
                class="form-control"
              ></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
