<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <title>List</title>
  </head>
  <body>
    <div class="container">
      <div class="row m-5">
        <div class="col-md-12">
          <h2>CV Database</h2>
        </div>
      </div>
      {% for profile in profiles %}
      <div class="row">
        <div class="col-md-6">{{profile.name}}</div>
        <div class="col-md-6">
          <a href="/profile/{{profile.id}}" class="btn btn-sm btn-success"
            >View</a
          >
        </div>
      </div>
      <hr />
      {% endfor %}
    </div>
  </body>
</html>
