<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <title>Resume</title>
  </head>
  <body>
    <h2>{{user_profile.name}}</h2>
    <h2>{{user_profile.email}}</h2>
    <h3>{{user_profile.phone}}</h3>
    <hr />
    <br />
    <p><strong>Summary</strong></p>
    <p>{{user_profile.summary}}</p>

    <p><strong>Skills</strong></p>
    <p>{{user_profile.skills}}</p>
    <hr />
    <br />

    <h6>Education</h6>

    <p><strong>School</strong></p>
    <p>{{user_profile.school}}</p>

    <p><strong>University</strong></p>
    <p>{{user_profile.university}}</p>

    <p><strong>Degree</strong></p>
    <p>{{user_profile.degree}}</p>

    <a href="/{{user_profile.id}}" class="btn btn-sm btn-primary">Download</a>
  </body>
</html>
